<div class="center-contents">

  <br>
  <br>
  <br>
  <br>
  <br>

<h1>Search your courses below...</h1>
<br>


<span>
    <mat-form-field>
        <mat-select placeholder="Select Course">
            <mat-option *ngFor="let course of courses" [value]="course.value">
              {{ course.viewValue}}
            </mat-option>
          </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-select placeholder="Select Course">
            <mat-option *ngFor="let course of courses" [value]="course.value">
              {{ course.viewValue}}
            </mat-option>
          </mat-select>
    </mat-form-field>
</span>

<span>
    <mat-form-field>
        <mat-select placeholder="Select Course">
            <mat-option *ngFor="let course of courses" [value]="course.value">
              {{ course.viewValue}}
            </mat-option>
          </mat-select>
    </mat-form-field>
</span>

<span>
    <mat-form-field>
        <mat-select placeholder="Select Course">
            <mat-option *ngFor="let course of courses" [value]="course.value">
              {{ course.viewValue}}
            </mat-option>
          </mat-select>
    </mat-form-field>
</span>

<span>
    <mat-form-field>
        <mat-select placeholder="Select Course">
            <mat-option *ngFor="let course of courses" [value]="course.value">
              {{ course.viewValue}}
            </mat-option>
          </mat-select>
    </mat-form-field>
</span>


<div>
    <br>
    <br>

  <button mat-raised-button color="accent" routerLink="/results">Optimize</button>
</div>
</div>