<body ng-app="instantSearch" ng-controller="InstantSearchController">

	<div class="bar">
    <input type="text" ng-model="searchString" placeholder="Search courses for this quarter">
    </div>
    <ul>
      <li ng-repeat="i in items | searchFor:searchString">
        <a routerLink="{{i.url}}"><img ng-src="{{i.image}}" /"></a>
        <p>{{i.title}}</p>
      </li>
    </ul>

    <button mat-raised-button color="accent" routerLink="/results">Optimize</button>

    		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    		<script src="script.js"></script>
    </body>
