mat-sidenav-container {
    height: 650px;
}

mat-sidenav {
    background-color: white;
    width: 250px;
    padding: 20px;
    text-align: left;
}

mat-sidenav-content {
    background-color: white;
    padding: 20px;
    text-align: center;
}

mat-card {
    margin: 20px;
}
